/* p{
    background-color: rgb(0, 255, 179);
    color: black;
    font-size:25px;
} */

/* *{margin:0;}

.main{
    width: 95vw;
    height: 100vh;
    display: block;
    place-items: center;
}
.center{
    width: 75%;
    height: 70%;
    
}
.items{
    display:flex;
    justify-content: space-between; 
}
h2{ background: green;
    color: white;
    text-align: center;
    margin-left: 100px;
}
img{
    position: relative;
    margin-left: 100px;
} */

